<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="4">
    <test verbose="2" preserve-order="true"
          name="test1">
        <classes>
            <class name="tests.Parallel"/>


        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="test2">
        <classes>

            <class name="tests.Parallel2"/>

        </classes>
    </test>
</suite>